/* generals  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

img {
  max-width: 100%;
}

/* debug  */

.debug {
  display: flex;
  height: 100vh;
  flex-direction: column-reverse;
}

/* header  */

header {
  background-color: gray;
  padding: 5px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-reg {
  display: flex;
  align-items: center;
  column-gap: 12px;
}
.nav-reg ul {
  /* (per nascondere ul e far vedere quello che ha al suo interno)  */
  display: contents;
  list-style: none;
  font-size: 13px;
  font-weight: 700;
  color: whitesmoke;
}
.nav-reg ul li i {
  display: block;
  margin-bottom: 3px;
  text-align: center;
  font-size: 20px;
}
.micro {
  margin-left: 8px;
}

.angle i {
  font-size: 5px;
}

.nav-info {
  display: flex;
  align-items: center;
  column-gap: 12px;
}
.nav-info ul {
  /* (per nascondere ul e far vedere quello che ha al suo interno)  */
  display: contents;
  list-style: none;
  font-size: 13px;
  font-weight: 700;
  color: whitesmoke;
  padding: 10px;
}

.nav-info ul li i {
  display: block;
  margin-bottom: 3px;
  text-align: center;
  font-size: 20px;
}
.green-color-icon {
  color: green;
}
.text-white {
  color: white;
}

.button-end-call {
  background-color: lightslategrey;
  color: red;
  height: 100%;
  display: flex;
  align-items: center;
}
.button-end-call .text-call {
  padding: 10px 15px;
  color: red;
  font-weight: 700;
  font-size: 13px;
}

/* main  */

.main-container {
  border: 1px solid rgb(255, 0, 81);
  flex-grow: 1;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 4px 2px;
  justify-content: center;
}

.row-img {
  border: 2px solid lightseagreen;
  min-height: 100px;
  aspect-ratio: 1.5;
}

.web-cam {
  position: relative;
  height: 100px;
}
.web-cam > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.info--web-cam {
  position: absolute;
  bottom: 3px;
  left: 1px;
  background-color: yellowgreen;
  color: tomato;
  padding: 3px 5px;
  font-size: 12px;
}

/* footer  */

.rel {
  position: relative;
}

.icon-footer {
  position: fixed;
  right: 0;
  top: 0;
}

.bottom {
  padding: 5px 8px;

  display: inline-block;
  background-color: gray;
  border-radius: 999px;
}

.bottom-speak {
  background-color: gray;
  color: white;
  font-size: 10px;
}
